<table class="table datatable">
	<tfoot>
		<tr>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</tfoot>

	<thead>
		<tr>
			<th>Komputer</th>
			<th>Switch</th>
			<th>Lokasi</th>
			<th>User</th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		{% for block in blocks %}
		<tr>
			<td>{{ block.computer }}</td>
			<td>{{ block.switch }}</td>
			<td>{{ block.location ? block.location.name : 'Belum ada lokasi' }}</td>
			<td>{{ block.user }}</td>
			<td class="text-right">
				{% if userLogin %}
				<div class="dropdown">
					<button type="button" class="btn btn-secondary btn-xs dropdown-toggle" data-toggle="dropdown">
						Pilihan
					</button>
					<div class="dropdown-menu pull-right">
						<a class="dropdown-item" href="#">
							<i class="fa fa-reply fa-fw"></i> Ubah
						</a>
						<a class="dropdown-item" href="#">
							<i class="fa fa-trash fa-fw"></i> Hapus
						</a>
                    </div>
				</div>
				{% else %}
				<a href="{{ 'block/detail'|page({parameter: block.parameter}) }}" class="btn btn-secondary btn-xs dropdown-toggle" data-toggle="dropdown">
					Lihat
				</a>
				{% endif %}

			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
