[viewBag]

[staticMenu mainMenu]
code = "main-menu"

==
<!-- partial:partials/_navbar.html -->
<nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
  <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
    <a class="navbar-brand brand-logo" href="index.html">
      <img src="{{ 'assets/images/typetext-primary.png'|theme }}" alt="logo" />
    </a>
    <a class="navbar-brand brand-logo-mini" href="index.html">
      <img src="{{ 'assets/images/typetext-primary.png'|theme }}" alt="logo" />
    </a>
  </div>
  <div class="navbar-menu-wrapper d-flex align-items-center">
    <ul class="navbar-nav navbar-nav-right">
      {% if not userLogin %}
      <li class="nav-item">
        <a href="{{ 'user/login'|page }}" class="nav-link">
          MASUK
        </a>
      </li>
      {% else %}
      <li class="nav-item dropdown d-none d-xl-inline-block">
        <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
          <span class="profile-text">Hello, {{ userLogin.name ? userLogin.name : userLogin.email }}</span>
          <img class="img-xs rounded-circle" src="{{ 'assets/sb/images/faces/face1.jpg'|theme }}" alt="Profile image">
        </a>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
          <a class="dropdown-item" data-request="UserComponent::onLogout" data-request-flash>
            Keluar
          </a>
        </div>
      </li>
      {% endif %}
    </ul>
    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
      <span class="mdi mdi-menu"></span>
    </button>
  </div>
</nav>
